<div class="container" (click)="handleBook()">
    <div class="main-div">
            <div class="bookimg-div">
                <img  class="bookimg" src="../../assets/Image 11.png" alt="Book Image">
            </div>
            <div class="bookinfo-div">
                <p class="title">{{book.bookName}}</p>
                <p class="author">{{book.author}}</p>
                <div class="xyz">
                    <div class="rating">
                        4.5 ★
                    </div>
                    <div class="ratings">
                        <p>({{book.quantity}})</p>
                    </div>
                </div>
                <p class="rs">Rs.{{book.price}}</p>
            </div>
    </div>
</div>

