<div class="dashboardheader">

    <div class="leftside-icon">
        <button class="btn button" matTooltip="Main menu">
            <img src="../../assets/education.png" class="book-img" alt="book image">
            <span class="book-store">Bookstore</span>
        </button>
    </div>
    <div class="search-container">
        <!-- <button class="search-btn"><mat-icon class="search-icon">search</mat-icon> </button> -->
        <button class="btn button" matTooltip="Search">
            <!-- Icon for search -->
            <mat-icon
              class="search-icon btn"
              svgIcon="Search-icon"
              aria-hidden="true"
              aria-label="Search SVG icon"
            ></mat-icon>
          </button>
        <!-- <mat-form-field>
            <input class="input" matInput type="text" placeholder="Search">
        </mat-form-field>     -->
        <input type="text" class="search-input" placeholder="Search">
    </div>

    <div class="rightside-icon">
        <div class="User">
            <button class="btn" matTooltip="Profile">
                <img src="../../assets/Users.PNG" class="book-img" alt="book image">
                <div class="profile-name">
                    <span></span>
                </div>
            </button>
        </div>
        <div class="Cart">
            <button class="btn cart-btn" matTooltip="Cart">
                <img src="../../assets/supermarket.png" class="book-img" alt="book image">
                <div class="Cart-span">
                    <span>Cart</span>
                </div>
            </button>
        </div>
    </div>

</div>
