<!-- <p>bookscontainer works!</p>
<p>bookscontainer works!</p>
<p>bookscontainer works!</p>
<p>bookscontainer works!</p>
<p>bookscontainer works!</p>
<p>bookscontainer works!</p>
<p>bookscontainer works!</p>
<p>bookscontainer works!</p>
<p>bookscontainer works!</p>
<p>bookscontainer works!</p>
<p>bookscontainer works!</p>
<p>bookscontainer works!</p>
<p>bookscontainer works!</p>
<p>bookscontainer works!</p> -->

<div class="initial">
    <div class="container">
        <div *ngFor="let book of booksList">     
            <app-displaybook [book]="book"></app-displaybook>
        </div>
    </div>
</div>